<div class="col-md-2 border-right profile_email">
    <aside class=" ">
        <h2 class="subtitle">Account</h2>
        <div class="list-group">
            <ul class="list-item">
                <li><a href="{% url 'ClientLogin' %}">Login</a>
                </li>
                <li><a href="#">Register</a>
                </li>
                <li><a href="#">Forgotten Password</a>
                </li>
                <li><a href="{% url 'Profile' %}">My Account</a>
                </li>

                </li>
                <li><a href="wishlist.html">Wish List</a>
                </li>
                <li><a href="order-history.html">Order History</a>
                </li>


            </ul>
        </div>
    </aside>
</div>