<div class="col-md-2 border-right profile_email">
    <aside class=" ">
        <h2 class="subtitle">Account</h2>
        <div class="list-group">
            <ul class="list-item">
                <li><a href="{% url 'ShippingAddress' %}">My Account</a>
                </li>

                </li>
                <li><a href="{% url 'ViewWishList' %}">Wish List</a>
                </li>
                <li><a href="{% url 'ViewOrderHistory' %}">Order History</a>
                </li>


                <!-- <li><a href="{% url 'ClientLogin' %}">Login</a> -->
                </li>
                <!-- <li><a href="{% url 'ShippingAddress' %}">Register</a> -->
                </li>
                <li><a href="#">Forgotten Password</a>
                </li>

            </ul>
        </div>
    </aside>
</div>