
{% extends 'layout/master.html' %}
{% load staticfiles %}

{% block quickview %}
<div id="wrapper" class="wrapper-fluid banners-effect-5">
    

    <!-- Main Container  -->
    <div class="main-container container">
        <ul class="breadcrumb">
            <li><a href="#"><i class="fa fa-home"></i></a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">My Wish List</a></li>
        </ul>

        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <h2 class="title">My Wish List</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <td class="text-center">Image</td>
                                <td class="text-left">Product Name</td>
                                <td class="text-left">Model</td>
                                <td class="text-right">Stock</td>
                                <td class="text-right">Unit Price</td>
                                <td class="text-right">Member Price</td>
                                <td class="text-right">Action</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <a href="#"><img width="70px"
                                            src="{% static 'assets_web/image/catalog/demo/product/80/01.jpg' %}" alt="Aspire Ultrabook Laptop"
                                            title="Aspire Ultrabook Laptop">
                                    </a>
                                </td>
                                <td class="text-left"><a href="#">iPad</a>
                                </td>
                                <td class="text-left">Pt 001</td>
                                <td class="text-right">In Stock</td>
                                <td class="text-right">
                                    <div class="price"> <span class="price-new">$45</span> <span
                                            class="price-old">$80</span></div>

                                </td>
                                <td class="text-right">
                                    <div class="price"> <span class="price-new">$</span> <span
                                            class="price-old">$</span></div>

                                </td>
                                <td class="text-right">
                                    <button class="btn btn-primary" title="" data-toggle="tooltip"
                                        onclick="cart.add('48');" type="button" data-original-title="Add to Cart"><i
                                            class="fa fa-shopping-cart"></i>
                                    </button>
                                    <a class="btn btn-danger" title="" data-toggle="tooltip" href=""
                                        data-original-title="Remove"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <a href="#"><img width="70px"
                                            src="{% static 'assets_web/image/catalog/demo/product/80/02 (1).jpg' %}"
                                            alt="Xitefun Causal Wear Fancy Shoes"
                                            title="Xitefun Causal Wear Fancy Shoes"></a>
                                </td>
                                <td class="text-left"><a href="#">Comas samer rumas</a>
                                </td>
                                <td class="text-left">Pt 002</td>
                                <td class="text-right">Pre-Order</td>
                                <td class="text-right">
                                    <div class="price"> <span class="price-new">$85</span> </div>
                                </td>
                                <td class="text-right">
                                    <div class="price"> <span class="price-new">$</span> </div>
                                </td>
                                <td class="text-right">
                                    <button class="btn btn-primary" title="" data-toggle="tooltip" onclick=""
                                        type="button" data-original-title="Add to Cart"><i
                                            class="fa fa-shopping-cart"></i>
                                    </button>
                                    <a class="btn btn-danger" title="" data-toggle="tooltip" href=""
                                        data-original-title="Remove"><i class="fa fa-times"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--Middle Part End-->
            {% include 'client_dashboard/right_menu.html' %}
        </div>
    </div>
    <!-- //Main Container -->


</div>
{% endblock %}

    {% block header %}
        {% include 'partials/header.html' %}
    {% endblock %}
    
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock %}
    
    
    {% block jscontents %}
    {% load staticfiles %}
       <!-- Include Libs & Plugins
        ============================================ -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script type="text/javascript" src="{% static 'assets_web/js/jquery-2.2.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/owl-carousel/owl.carousel.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/slick-slider/slick.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/themejs/libs.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/unveil/jquery.unveil.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/countdown/jquery.countdown.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/datetimepicker/moment.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/jquery-ui/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/modernizr/modernizr-2.6.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/minicolors/jquery.miniColors.min.js' %}"></script>
    
        <!-- Theme files
        ============================================ -->
    
        <script type="text/javascript" src="{% static 'assets_web/js/themejs/application.js' %}"></script>
    
        <script type="text/javascript" src="{% static 'assets_web/js/themejs/homepage.js' %}"></script>
    
        <script type="text/javascript" src="{% static 'assets_web/js/themejs/toppanel.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/themejs/so_megamenu.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets_web/js/themejs/addtocart.js' %}"></script>
    
        <script>
          //---------------------Stars Start----------------------------------
          // Select all elements with the "i" tag and store them in a NodeList called "stars"
          const stars = document.querySelectorAll(".stars i");
        
          // Loop through the "stars" NodeList
          stars.forEach((star, index1) => {
            // Add an event listener that runs a function when the "click" event is triggered
            star.addEventListener("click", () => {
              var count_stars = 0;
              // Loop through the "stars" NodeList Again
              stars.forEach((star, index2) => {
                // Add the "active" class to the clicked star and any stars with a lower index
                // and remove the "active" class from any stars with a higher index
                index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
                if(index1 >= index2)
                  count_stars++
                });
                //alert(count_stars);
                document.getElementById("n_stars").value = count_stars-20;
            });
          });
    
          //---------------------Stars Start End----------------------------------
        </script>
    {% endblock %}
    

   