     <!-- Info box Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {%if id_data%}
                                    <form action="{% url action id=id_data.id %}" method="post" enctype="multipart/form-data" onSubmit = "return checkPassword(this)">
                                    {%else%}
                                    <form action="{% url action %}" method="post" enctype="multipart/form-data" enctype="multipart/form-data" onSubmit = "return checkPassword(this)">
                                {%endif%}
                                {% csrf_token %}
                                    <div class="form-body">
                                        <h5 class="card-title">Add Users</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">First Name</label>
                                                    <input type="text" id="first" name="first_name" class="form-control" value="{{ id_data.first_name }}" placeholder="Albert" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Last Name</label>
                                                    <input type="text" id="last" name="last_name" class="form-control" value="{{id_data.last_name}}" placeholder="Einstein ">
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">User Name</label>
                                                    <input type="text" id="username" name="username" class="form-control" value="{{id_data.username}}" placeholder="Einstein" required>
                                                </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <!--/row-->
                                      <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Roles</label>
                                                    <select class="form-control" name="role" data-placeholder="Choose a Category" tabindex="1">
                                                        <option value="0" selected>select</option>
                                                        {%for role_id,role_name in roles %}
                                                            {% if role_id != 1 %}
                                                                {% if role_id != 3 %}
                                                                    <option value="{{role_id}}" {% if id_data.role == role_id %} selected {% endif %}>{{role_name}}</option>
                                                                {% endif %}
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                         
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Membership Type</label>
                                                    <select class="form-control" name="membership" data-placeholder="Choose a Category" tabindex="1">
                                                        <option value="0" selected>select</option>
                                                        {%for membership in memberships %}
                                                            <option value="{{membership.id}}" {% if id_data.membership_id == membership.id %} selected {% endif %}>{{membership.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        
                                        </div> 
                                        <!--/row-->
                                        {% comment %} <h5 class="card-title m-t-40">Email</h5> {% endcomment %}
                                        {% comment %} <input type="hidden" name="role" value="0" /> {% endcomment %}
                                        <input type="hidden" name="group" value="0" />
                                        <div class="row">
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label class="form-label">Email</label>
                                                    <input type="email" name="email" value="{{id_data.email}}" class="form-control" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4 ">
                                                <div class="form-group">
                                                    <label class="form-label">Mobile Number</label>
                                                    <input type="number" name="phone" value="{{id_data.phone}}" class="form-control">
                                                </div>
                                            </div>
                                                <!--/span-->
                                            <div class="col-md-2">
                                                <div class="form-group">
                                                    <label class="form-label">Status</label>
                                                    <br/>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadioInline1" name="status" class="form-check-input" checked>
                                                        <label class="form-check-label" for="customRadioInline1">Publish</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadioInline2" name="status" class="form-check-input">
                                                        <label class="form-check-label" for="customRadioInline2">Draft</label>
                                                    </div>
                                                 </div>
                                            </div>
                                                <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">password</label>
                                                    <input name="password1" type="password" name="meta_title" class="form-control"> </div>
                                            </div>
                                            <!--/span--> 
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">confirm password</label>
                                                    <input name="password2" type="password" name="keyword" class="form-control"> </div>
                                            </div>
                                            <!--/span-->
                                        
                                            <div class="col-md-3">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Profile Image</h4>
                                                        <input name="profile_image" type="file" id="input-file-now2" class="dropify" />
                                                    </div>
                                                </div>
                                                {% if id_data.image %}
                                                    <script>
                                                        $("#input-file-now2").attr("data-default-file", "{{id_data.image.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>
                                        <hr> </div>
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <div class="form-actions m-t-40">
                                        <button type="submit" class="btn btn-success text-white"> <i class="fa fa-check"></i> Save</button>
                                        <button type="button" class="btn btn-dark">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <script>
          
                    // Function to check Whether both passwords
                    // is same or not.
                    function checkPassword(form) {
                        password1 = form.password1.value;
                        password2 = form.password2.value;
          
                        // If password not entered
                        if (password1 == ''){
                            return true
                            // alert ("password remain same");
                        }
                        // If confirm password not entered
                        else if (password2 == ''){
                            return true
                            // alert ("password remain same");
                        }
                        // If Not same return False.    
                        else if (password1 != password2) {
                            alert ("\nPassword did not match: Please try again...")
                            return false;
                        }
          
                        // If same return True.
                        else{
                            return true;
                        }
                    }
                </script>
 
                
                