{% extends 'layout/master.html' %}
{% block contents %}

    <!-- main top bar -->
    <div class="breadcrumb">
        <div class="container">
          <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
              <li><a href="/">Home</a></li>
              <li class='active'>Login</li>
            </ul>
          </div><!-- /.breadcrumb-inner -->
        </div><!-- /.container -->
      </div><!-- /.breadcrumb -->
    
    {% include "main/user/layout/navbar.html" %}
    {% include "main/user/partials/product-list.html" %}

{% endblock %}