
                <form method="post" action="{% url 'ChangePassword' id=request.user.id %}" class="changeUserDataPassword">
                    {% csrf_token %}
                    {% comment %} <input type="hidden" name="email" required/> {% endcomment %}
                    <div class="changeUserDataPasswordField">
                        <label htmlFor="">Current Password</label>
                        <br />
                        <input type="password" name="old_password" required/>
                    </div>
                    
                    <div class="changeUserDataPasswordField">
                        <label htmlFor="">New Password</label>
                        <br />
                        <input type="password" name="password" required/>
                    </div>

                    <div class="changeUserDataPasswordField">
                        <label htmlFor="">Confirm Password</label>
                        <br />
                        <input type="password" name="cpassword" required/>
                    </div>
                    <div class="changePasswordButton">
                        <button name="withpassword" type="submit">save</button>
                    </div>
                </form>

            </div>

        </div>
    </div>










