
    <form method="post" action="{% url 'UserSetting' id=request.user.id %}" class="">
        {% csrf_token %}
        <div class='changeUserData'>

                <div class="changeUserDataInputField">
                    <label htmlFor="">Full Name</label>
                    <br />
                    <input type="text" name="first_name" value="{{user_detail.first_name}}"  required/>
                </div>
                <div class="changeUserDataInputField">
                    <label htmlFor="">User Name</label>
                    <br />
                    <input type="text" name="last_name" value="{{user_detail.username}}" required/>
                </div>
                <div class="changeUserDataInputField">
                    <label htmlFor="">Email</label>
                    <br />
                    <input  type="email" name="email" value="{{user_detail.email}}" required/>
                </div>
            </div>
             <br>

        <div class='changeUserData'>

                <div class="changeUserDataInputField">
                    <label htmlFor="">Permant Address</label>
                    <br />
                    <input type="text" name="permanent_address" value="{{user_detail.permanent_address}}" required/>
                </div>

                <div class="changeUserDataInputField">
                    <label htmlFor="">Contact Number</label>
                    <br />
                    <input type="text" name="number" value="{{user_detail.phone}}" required/>
                </div>

                <div class="changeUserDataInputField">
                    <label htmlFor="">Current Address</label>
                    <br />
                    <input type="text" name="current_address" value="{{user_detail.current_address}}" required/>
                </div>
        </div>
        
        
            <div class="submmitButton">
                <button  name="withoutpassword"  type='submit'>save </button>
            </div>
    </form>
</div>
</div>
</div>







