{% load staticfiles %}
     <!-- Info box Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                {%if id_data%}
                                    <form action="{% url action pk=id_data.id %}" name="prodform" method="post" enctype="multipart/form-data">
                                    {%else%}
                                    <form action="{% url action %}" method="post" name="prodform" enctype="multipart/form-data">
                                {%endif%}
                                {% csrf_token %}
                                    <div class="form-body">
                                        {% if messages%}
                                            {%for message in messages%}
                                                <div class="alert alert-info"> 
                                                    {% autoescape off %}
                                                        {{message}}
                                                    {% endautoescape %} 
                                            </div>
                                            {%endfor%}
                                        {%endif%}
                                        <input type="hidden" name="next" value="{{ request.path }}">
                                        <h5 class="card-title">Add Product</h5>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Product Name</label>
                                                    <input type="text" id="pname" name="product_name" class="form-control" value="{{id_data.name}}" placeholder="Rounded Chair" required> </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Title</label>
                                                    <input type="text" name="title" id="lastName" class="form-control" placeholder="one line described" value="{{id_data.title}}"> </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <!--/row-->
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Category</label>
                                                    <select class="form-control" name="category" id="category" data-placeholder="Choose a Category" tabindex="1" required>
                                                        <option value="">Choose a Category</option>
                                                        {% for cat in category %}
                                                            <option value="{{cat.id}}" {% if id_data.category_id == cat.id %}selected{% endif %}>{{cat.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Sub Category</label>
                                                    <select class="form-control" name="sub_category" id="sub_category" data-placeholder="Choose a Category" tabindex="1" required>
                                                        <option value="">Choose a Subcategory</option>
                                                        {% comment %} {% for cat in sub_category %}
                                                            <option value="{{cat.id}}" {% if id_data.sub_category == cat.id %}selected{% endif %}>{{cat.name}}</option>
                                                        {% endfor %} {% endcomment %}
                                                    </select>
                                                </div>
                                            </div>
                                            <script>
                                                $(document).ready(function() {
                                                    
                                                    $('#category').change(function() {
                                                        var category_id = $(this).val();                                                        
                                                        console.log(category_id);
                                                        if(category_id) {
                                                            $.ajax({
                                                                url: '/admin/get-subcategories/' + category_id,
                                                                type: "GET",
                                                                dataType: "json",
                                                                success:function(data) {
                                                                    console.log(data);
                                                                    $('#sub_category').empty();
                                                                    $.each(data, function(key, value) {
                                                                        $('#sub_category').append('<option value="'+ value.id +'">'+ value.name +'</option>');
                                                                    });
                                                                },
                                                                error:function(xhr, status, error,data) {
                                                                    console.log("Something Wrong");
                                                                    //console.log(data);
                                                                    // Or you can display the error message to the user
                                                                    // $('#sub_category').append('<option value="">Error: '+ error +'</option>');
                                                                }
                                                            });
                                                        }else{
                                                            $('#sub_category').empty();
                                                            $('#sub_category').append('<option value="">Choose a Subcategory</option>');
                                                        }
                                                    });

                                                    var category_id = $(this).val();  
                                                    if(typeof category_id !== 'undefined'){
                                                        var category_id = $('#category').val();                                                        
                                                        if(category_id) {
                                                            $.ajax({
                                                                url: '/admin/get-subcategories/' + category_id,
                                                                type: "GET",
                                                                dataType: "json",
                                                                success:function(data) {
                                                                    console.log(data);
                                                                    $('#sub_category').empty();
                                                                    $.each(data, function(key, value) {
                                                                        $('#sub_category').append('<option value='+ value.id +'  {% if id_data.sub_category == '+value.id+' %}selected{% endif %}  >'+ value.name +'</option>');
                                                                    });
                                                                },
                                                                error:function(xhr, status, error,data) {
                                                                    console.log("Something Wrong");
                                                                    //console.log(data);
                                                                    // Or you can display the error message to the user
                                                                    // $('#sub_category').append('<option value="">Error: '+ error +'</option>');
                                                                }
                                                            });
                                                        }else{
                                                            $('#sub_category').empty();
                                                            $('#sub_category').append('<option value="">Choose a Subcategory</option>');
                                                        }
                                                    }
                                                });
                                            </script>
                                            <!--/span-->
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Status</label>
                                                    <br/>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadioInline1" name="status" value="1" class="form-check-input" {% if id_data.status == 1 %} checked {% elif id_data.status != 0 %} checked {% endif %} >
                                                        <label class="form-check-label" for="customRadioInline1">Publish</label>
                                                    </div>
                                                    <div class="custom-control custom-radio custom-control-inline">
                                                        <input type="radio" id="customRadioInline2" name="status" value="0" class="form-check-input" {% if id_data.status == 0 %} checked {% endif %}>
                                                        <label class="form-check-label" for="customRadioInline2">Draft</label>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <!--/span-->
                                        </div>
                                     
                                        <!--/row-->
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label"> Marked Price</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon1">Rs.</span>
                                                        </div>
                                                        <input type="text" class="form-control" style="flex:none;width:100px" name="price" value="{{id_data.price}}" placeholder="Price" aria-label="price" aria-describedby="basic-addon1" required>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Quantity</label>
                                                    <div class="input-group mb-3">     
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon2"><i class="ti-infinite"></i></span>
                                                        </div>                                                 
                                                        <input type="text" class="form-control" style="flex:none;width:100px" name="quantity" value="{{id_data.quantity}}" placeholder="Quantity" aria-label="quantity" aria-describedby="basic-addon1">
                                                    </div>
                                                </div>
                                            </div> 
                                           
                                            <input type="hidden" name="brand">
                                            <input type="hidden" name="meta_title">
                                            <input type="hidden" name="keyword">
                                            <input type="hidden" name="size">
                                            <input type="hidden" name="color">
                                            <input type="hidden" name="long_contents">
                                            <!--/span-->
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Discount In %</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon2"><i class="ti-cut"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="discount_type" onkeyup="Change1(value)" name="discount_type" value="{{id_data.discount_type}}" placeholder="in percentage" aria-label="Discount" aria-describedby="basic-addon2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label class="form-label">Discount In रू</label>
                                                    <div class="input-group mb-3">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" id="basic-addon2"><i class="ti-cut"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" onkeyup="Change2(value)" name="discount" value="{{id_data.discount}}" placeholder="Discount" aria-label="Discount" aria-describedby="basic-addon2">
                                                    </div>
                                                </div>
                                            </div>
                                          
                                            <!--/span-->
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label"> Business To Business Membership</label>
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">Rs.</span>
                                                    </div>
                                                   
                                                    <input type="text" id="b2b_membership_price" name="b2b_membership_price" class="form-control" value="{{id_data.b2b_membership_price}}"> </div>
                                                    </div>
                                            </div>
                                            <!--/span-->
                                           
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label"> Platinum Membership</label>
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">Rs.</span>
                                                    </div>
                                                   
                                                    <input type="text" id="platinum_membership_price" name="platinum_membership_price" class="form-control" value="{{id_data.platinum_membership_price}}"> </div>
                                                    </div>
                                            </div>
                                         
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="form-label">Free Membership</label>
                                                    <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text" id="basic-addon1">Rs.</span>
                                                    </div>
                                                   
                                                    <input type="text" id="free_membership_price" name="free_membership_price" class="form-control" value="{{id_data.free_membership_price}}"> </div>
                                                    </div>
                                            </div>
                                            <!--/span-->
                                        </div>
                                        <style>
                                            
                                        </style>
                                        <h5 class="card-title m-t-40">Product Detail</h5>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <textarea name="discription" id='devraj' class="form-control" rows="4">{{id_data.discription}}</textarea>
                                                    <script src="{% static '/assets/dist/js/htmeditor.min.js' %}"      htmeditor_textarea="devraj"   full_screen="no"      editor_height="350"     run_local="no"> </script>                                                      
                                                </div>
                                            </div>
                                        </div>
                                        <h5 class="card-title m-t-40">Other</h5>
                                      
                                        {% comment %} <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <textarea id="long_content"  name="long_contents">{{id_data.long_contents}}</textarea>
                                                     <script src="{% static '/assets/dist/js/htmeditor.min.js' %}"      htmeditor_textarea="devraj"  htmeditor_textarea1="long_content"     full_screen="no"      editor_height="350"     run_local="no"> </script>                                                      
                                                </div>
                                            </div>
                                        </div> {% endcomment %}
                                        <!--/row-->
                                        <div class="row">
                                            {% comment %} <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Meta Title</label>
                                                    <input type="text" name="meta_title" class="form-control" value="{{id_data.title}}"> </div>
                                            </div>
                                            <!--/span-->
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-label">Meta Keyword</label>
                                                    <input type="text" name="keyword" class="form-control" value="{{id_data.keyword}}"> </div>
                                            </div> {% endcomment %}
                                            <!--/span-->
                                            <h4 class="card-title">Upload Product Images</h4>
                                            <style>
                                                .dropify-wrapper{
                                                    height:120px !important ;
                                                }
                                            </style>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Images-1</h4>
                                                        <input name="image1" type="file" id="input-file-now1" class="dropify" {% if not id_data.image1 %}required{% endif %} />
                                                    </div>
                                                </div>
                                                {% if id_data.image1 %}
                                                    <script>
                                                        $("#input-file-now1").attr("data-default-file", "{{id_data.image1.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Images-2</h4>
                                                        <input name="image2" type="file" id="input-file-now2" class="dropify" {% if not id_data.image2 %}required{% endif %} />
                                                    </div>
                                                </div>
                                                {% if id_data.image2 %}
                                                    <script>
                                                        $("#input-file-now2").attr("data-default-file", "{{id_data.image2.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Images-3</h4>
                                                        <input name="image3" type="file" id="input-file-now3" class="dropify" />
                                                    </div>
                                                </div>
                                                {% if id_data.image3 %}
                                                    <script>
                                                        $("#input-file-now3").attr("data-default-file", "{{id_data.image3.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Images-4</h4>
                                                        <input name="image4" type="file" id="input-file-now4" class="dropify" />
                                                    </div>
                                                </div>
                                                {% if id_data.image4 %}
                                                    <script>
                                                        $("#input-file-now4").attr("data-default-file", "{{id_data.image4.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Images-5</h4>
                                                        <input name="image5" type="file" id="input-file-now5" class="dropify" />
                                                    </div>
                                                </div>
                                                {% if id_data.image5 %}
                                                    <script>
                                                        $("#input-file-now5").attr("data-default-file", "{{id_data.image5.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Images-6</h4>
                                                        <input name="image6" type="file" id="input-file-now6" class="dropify" />
                                                    </div>
                                                </div>
                                                {% if id_data.image6 %}
                                                    <script>
                                                        $("#input-file-now6").attr("data-default-file", "{{id_data.image6.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Images-7</h4>
                                                        <input name="image7" type="file" id="input-file-now7" class="dropify" />
                                                    </div>
                                                </div>
                                                {% if id_data.image7 %}
                                                    <script>
                                                        $("#input-file-now7").attr("data-default-file", "{{id_data.image7.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Images-8</h4>
                                                        <input name="image8" type="file" id="input-file-now8" class="dropify" />
                                                    </div>
                                                </div>
                                                {% if id_data.image8 %}
                                                    <script>
                                                        $("#input-file-now8").attr("data-default-file", "{{id_data.image8.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-2">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h4 class="card-title">Images-9</h4>
                                                        <input name="image9" type="file" id="input-file-now9" class="dropify" />
                                                    </div>
                                                </div>
                                                {% if id_data.image9 %}
                                                    <script>
                                                        $("#input-file-now9").attr("data-default-file", "{{id_data.image9.url}}");
                                                    </script>
                                                {% endif %}
                                            </div>

                                        </div>
                                        {% comment %} <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="card-title m-t-40">GENERAL INFO</h5>
                                                <div class="table-responsive">
                                                    <table class="table table-bordered td-padding">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <h6 class="card-title">Size</h6>
                                                                    <input type="text" class="form-control" value="{{id_data.size}}" name="size" placeholder="XXL, XL, L etc">
                                                                </td>
                                                                <td>
                                                                    <h6 class="card-title">Color</h6>
                                                                    <input type="text" class="form-control" value="{{id_data.color}}" name="color" placeholder="Red, Green, White etc">
                                                                </td>
                                                            </tr>
                                                            
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div> {% endcomment %}
                                        <hr> </div>
                                    <div class="form-actions m-t-40">
                                        <button type="submit" class="btn btn-success text-white"> <i class="fa fa-check"></i> Save</button>
                                        <button type="button" class="btn btn-dark">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <script>
                        function Change1(value){
                            var percentage = document.getElementById('discount_type').value;
                            var percentage = percentage.replace(/%/,'')
                            var total = document.prodform.price.value;
                            document.prodform.discount_type.value = percentage + "%";
                            document.prodform.discount.value = total*percentage / 100  ;

                        }
                        function Change2(value){
                            var percentage = document.prodform.discount.value
                            var total = document.prodform.price.value;
                            document.prodform.discount_type.value = 100 * percentage / total + "%";

                        }
                </script>
                    <!-- Model for import -->
    <div class="col-md-4">
   
                <!-- sample modal content -->
                <div class="modal bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title" id="mySmallModalLabel">Import Product csv</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                            </div>
                            <div class="modal-body">
                             <form  method="post" action="{% url 'AddProduct' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                  <label for="" class="form-label">Select Excel File : </label>
                                  <input type="file" class="form-control" name="file" id="" aria-describedby="helpId" placeholder=""/>
                                </div>
                                <div class="mb-3" style="display: grid;">
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </form>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
                <!-- <img src="../assets/images/alert/model3.png" alt="default" data-bs-toggle="modal" data-bs-target=".bs-example-modal-sm" class="model_img img-responsive" /> -->
    </div>
    <!-- end model for image -->