{% extends 'layout/master.html' %}
{% load staticfiles %}
{% load my_tags %}
{% block contents %}  
<!-- Main Container  -->
<div class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Checkout</a></li>

    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-12">
            <h2 class="title">Checkout</h2>
            <form action="{% url 'CheckOut' %}" method="POST">
                {% csrf_token %}
                {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field in form %}
                            {% if field.errors %}
                                <li>{{ field.label }}: {{ field.errors|join:", " }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
                <div class="so-onepagecheckout row">
                    <div class="col-left col-sm-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="fa fa-sign-in"></i> Create an Account or Login
                                </h4>
                            </div>
                            <div class="panel-body">
                                <div class="radio">
                                    <label>
                                        <input type="radio" value="register" name="account_type">
                                        Register Account</label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" checked="checked" value="guest" name="account_type">
                                        Guest Checkout</label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input onclick='window.location.href=`{% url "ClientLogin" %}?next=/{% url "CheckOut" %}`' type="radio" value="login" name="account_type">
                                        Login</label>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="fa fa-user"></i> Your Personal Details</h4>
                            </div>
                            <div class="panel-body">
                                <fieldset id="account">
                                    <div class="form-group required">
                                        <label for="input-payment-firstname" class="control-label" name="firstname">First
                                            Name</label>
                                            {{ form.firstname }}
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-payment-lastname" class="control-label">Last Name</label>
                                           {{ form.lastname }}
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-payment-email" class="control-label">E-Mail</label>
                                        {{ form.email }}
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-payment-telephone" class="control-label">Telephone</label>
                                        {{ form.phone }}
                                    </div>
                                 
                                </fieldset>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title"><i class="fa fa-book"></i> Your Address</h4>
                            </div>
                            <div class="panel-body">
                                <fieldset id="address" class="required">
                                    <div class="form-group">
                                        <label for="input-payment-company" class="control-label">Company</label>
                                        {{ form.company }}
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-payment-address-1" class="control-label">Address 1</label>
                                         {{ form.address_1 }}
                                    </div>
                                    <div class="form-group">
                                        <label for="input-payment-address-2" class="control-label">Address 2</label>
                                         {{ form.address_2 }}
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-payment-city" class="control-label">City</label>
                                         {{ form.city }}
                                    </div>
                                    <div class="form-group required">
                                        <label for="input-payment-postcode" class="control-label">Post Code</label>
                                        {{ form.postcode }}
                                    </div>
                                    
                                    <div class="form-group required">
                                        <label for="input-payment-zone" class="control-label">Region / State</label>
                                        <select class="form-control" id="input-payment-zone" name="state">
                                            <option value=""> --- Please Select --- </option>
                                            <option value="3513">Province 1</option>
                                            <option value="3514">Province 2</option>
                                            <option value="3515">Province 3</option>
                                            <option value="3516">Province 4</option>
                                            <option value="3516">Province 5</option>
                                            <option value="3516">Province 6</option>
                                            <option value="3516">Province 7</option>
                                        </select>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked="checked" value="1"
                                                name="shipping_address">
                                            My delivery and billing addresses are the same.</label>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-right col-sm-9">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="panel panel-default no-padding">
                                
                                    <div class="col-sm-6  checkout-payment-methods">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><i class="fa fa-credit-card"></i> Payment Method
                                            </h4>
                                        </div>
                                        <div class="panel-body">
                                            <p>Please select the preferred payment method to use on this order.</p>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" checked="checked"
                                                        name="cash_on_delivery">Cash On Delivery</label>
                                            </div>

                                            <div class="radio">
                                                <label>
                                                    <input type="radio" name="Paypal">Paypal</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Shopping cart
                                        </h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <td class="text-center">Image</td>
                                                        <td class="text-left">Product Name</td>
                                                        <td class="text-left">Quantity</td>
                                                        <!-- <td class="text-right">Unit Price</td> -->
                                                        <td class="text-right">Free Membership</td>
                                                        <td class="text-right">Premium Membership's</td>
                                                        <td class="text-right">B to B Price</td>
                                                        <!-- <td class="text-right"></td> -->
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for cart in cart_data %}
                                                        <tr>
                                                            <td class="text-center"><a href="product.html"><img
                                                                        width="60px"
                                                                        src="{{cart.image}}"
                                                                        alt="{{cart.product_name}}"
                                                                        title="{{cart.product_name}}"
                                                                        class="img-thumbnail"></a></td>
                                                            <td class="text-left"><a href="product.html">{{cart.product_name}}</a></td>
                                                            <td class="text-left">
                                                                <div class="input-group btn-block"
                                                                    style="min-width: 100px;">
                                                                    <input type="text" name="quantity" value="{{cart.quantity}}"
                                                                        size="1" class="form-control">
                                                                    <span class="input-group-btn">
                                                                        <button type="submit" data-toggle="tooltip"
                                                                            title="Update" class="btn btn-primary"><i
                                                                                class="fa fa-refresh"></i></button>
                                                                        <button type="button" data-toggle="tooltip"
                                                                            title="Remove" class="btn btn-danger"
                                                                            onClick=""><i
                                                                                class="fa fa-times-circle"></i></button>
                                                                    </span></div>
                                                            </td>
                                                            <td class="text-right">{{cart.free_membership_price}}</td>
                                                            <td class="text-right">{{cart.platinum_membership_price}}</td>
                                                            <td class="text-right">{{cart.b2b_membership_price}}0</td>
                                                            <!-- <td class="text-right">$114.35</td> -->
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                                
                                                <tfoot>
                                                    {% calculate_cart_price request as cart_price %}
                                                
                                                   
                                                    <tr>
                                                        <td class="text-right" colspan="3"><strong>Total:</strong>
                                                        </td>
                                                        <td class="text-right">{{cart_price.total_free_membership_price}}</td>
                                                        <td class="text-right">{{cart_price.total_platinum_membership_price}}</td>
                                                        <td class="text-right">{{cart_price.total_b2b_membership_price}}</td>
                                                    
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <div class="col-sm-12">
                                <div class="panel panel-default">
                                    
                                    <div class="panel-body">
                                       
                                        <label class="control-label" for="confirm_agree">
                                            <input type="checkbox" checked="checked" value="1" required=""
                                                class="validate required" id="confirm_agree" name="confirm agree">
                                            <span>I have read and agree to the <a class="agree" href="#"><b>Terms
                                                        &amp; Conditions</b></a></span> </label>
                                        <div class="buttons">
                                            <div class="pull-right">
                                                <input type="submit" class="btn btn-primary" id="button-confirm"
                                                    value="Confirm Order">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!--Middle Part End -->

    </div>
</div>
<!-- //Main Container -->
{% endblock %}

{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}


{% block jscontents %}
{% load staticfiles %}
   <!-- Include Libs & Plugins
    ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'assets_web/js/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/slick-slider/slick.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/themejs/libs.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/unveil/jquery.unveil.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/countdown/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/datetimepicker/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/modernizr/modernizr-2.6.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/minicolors/jquery.miniColors.min.js' %}"></script>

    <!-- Theme files
    ============================================ -->

    <script type="text/javascript" src="{% static 'assets_web/js/themejs/application.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets_web/js/themejs/homepage.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets_web/js/themejs/toppanel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/themejs/so_megamenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/themejs/addtocart.js' %}"></script>

    <script>
      //---------------------Stars Start----------------------------------
      // Select all elements with the "i" tag and store them in a NodeList called "stars"
      const stars = document.querySelectorAll(".stars i");
    
      // Loop through the "stars" NodeList
      stars.forEach((star, index1) => {
        // Add an event listener that runs a function when the "click" event is triggered
        star.addEventListener("click", () => {
          var count_stars = 0;
          // Loop through the "stars" NodeList Again
          stars.forEach((star, index2) => {
            // Add the "active" class to the clicked star and any stars with a lower index
            // and remove the "active" class from any stars with a higher index
            index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
            if(index1 >= index2)
              count_stars++
            });
            //alert(count_stars);
            document.getElementById("n_stars").value = count_stars-20;
        });
      });

      //---------------------Stars Start End----------------------------------
    </script>
{% endblock %}
