<div style="display: flex;   margin-left:200px  ">
    <img height="50" src="cid:image0" width="50">
<span style="color: green; font-weight: bold; margin-top: 15px;margin-left: 10px;"> Dahal HandiCraft </span>
</div>
<span style="color: rgb(35, 209, 200); font-weight: bold;">Custom Order Details </span>
<hr>
<div style="display: flex;">
<ul>
    <li style="display: block; padding: 5px;">
        <span style="color: black; font-weight: bold;"> Name: </span>
        <span style="color: black; font-weight: bold;"> {{Name}} </span>
    </li>
    <li style="display: block;padding: 5px;">
        <span style="color: black; font-weight: bold;"> Email: </span>
        <span style="color: black; font-weight: bold;"> {{Email}} </span>
    </li>
    <li style="display: block;padding: 5px;">
        <span style="color: black; font-weight: bold;"> Phone Number: </span>
        <span style="color: black; font-weight: bold;"> {{Phone_Number}} </span>
    </li>
</ul>
<ul style="margin-left: 100px;">    
    <li style="display: block;padding: 5px;">
        <span style="color: black; font-weight: bold;"> Shipping Address: </span>
        <span style="color: black; font-weight: bold;"> {{Shipping_Address}} </span>
    </li>
    <li style="display: block;padding: 5px;">
        <span style="color: black; font-weight: bold;"> Billing Address: </span>
        <span style="color: black; font-weight: bold;"> {{Billing_Address}} </span>
    </li>
    <li style="display: block;padding: 5px;">
        <span style="color: black; font-weight: bold;"> Current Address: </span>
        <span style="color: black; font-weight: bold;"> {{Current_Address}} </span>
    </li>
</ul>
</div>
<table style="border: 1px solid black; border-collapse:collapse; ">
            <thead>
                <tr style="border: 1px solid black;">
                    <th scope="" colspan="" style="border: 1px solid black; padding:15px"></th>
                    <th scope="" colspan="" style="border: 1px solid black; padding:15px">Product Name</th>
                    <th scope="" style="border: 1px solid black; padding:15px">Color</th>
                    <th colspan="" style="border: 1px solid black; padding:15px">Qty</th>
                    <th colspan="" style="border: 1px solid black; padding:15px">size</th>
                </tr>
            </thead>
            <tr style="border: 1px solid black;">
                <td rowspan="" style="border: 1px solid black; padding:15px">1</td>
                <td rowspan="" style="padding:15px">{{product_name}}</td>
                <td style="border: 1px solid black; padding:15px">{{color}}</td>
                <td style="border: 1px solid black; padding:15px">{{quantity}}</td>
                <td style="border: 1px solid black; padding:15px">{{size}}</td>
            </tr>
</table>