{% extends 'layout/master.html' %}
{% load staticfiles %}

{% block quickview %}

    <div id="wrapper" class="wrapper-fluid">
    <!-- Header Container  -->

    <!-- //Header Container  -->

	<!-- Main Container  -->
	<div class="main-container container">
		<ul class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i></a></li>
			<li><a href="#">Smartphone & Tablets</a></li>
			<li><a href="#">Chicken swinesha</a></li>
			
		</ul>
		
		<div class="row">
	
			<!--Left Part Start -->
			<aside class="col-sm-4 col-md-3 content-aside" id="column-left">
				<div class="module category-style">
                	<h3 class="modtitle">Categories</h3>
                	<div class="modcontent">
                		<div class="box-category">
                			<ul id="cat_accordion" class="list-group">
                                {% for category in categories %}
                                    <li class="hadchild"><a href="{% url 'Category' category_name=category.name %}" class="cutom-parent">{{category.caption}}</a>   <span class="button-view  fa fa-plus-square-o"></span>
                                        <ul style="display: block;">
                                            {% for subcat in category.childs.all %}
                                                <li><a href="{% url 'Category' category_name=subcat.name %}">{{subcat.caption}}</a></li> 
                                            {% endfor %}                                          
                                        </ul>
                                    </li>
                                {% endfor %}
                			
                				<li class=""><a href="category.html" class="cutom-parent">Health &amp; Beauty</a>  <span class="dcjq-icon"></span></li>

                			</ul>
                		</div>
                		
                		
                	</div>
                </div>
            	<div class="module product-simple">
                    <h3 class="modtitle">
                        <span>Latest products</span>
                    </h3>
                    <div class="modcontent">
                        <div class="so-extraslider" >
                            <!-- Begin extraslider-inner -->
                            <div class=" extraslider-inner">
                                <div class="item ">
                                    {% for product in latest_product %}
                                        <div class="product-layout item-inner style1 ">
                                            <div class="item-image">
                                                <div class="item-img-info">
                                                    <a href="{% url 'SingleProductViews' product_name=product.name %}" target="_self" title="Mandouille short ">
                                                        <img src="{% if product.image1 %} {{product.image1.url}} {% endif %}" alt="Mandouille short">
                                                        </a>
                                                </div>
                                                
                                            </div>
                                        
                                            <div class="item-info">
                                                <div class="item-title">
                                                    <a href="{% url 'SingleProductViews' product_name=product.name %}" target="_self" title="Mandouille short">{{product.name}}</a>
                                                </div>
                                                <div class="rating">
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                </div>
                                                <div class="content_price price">
                                                    <span>Platinum price</span>
                                                    <span class="price-new product-price">:{{product.platinum_membership_price}} </span>&nbsp;&nbsp;
                                                    <br>
                                                    <span>Free Members:{{product.free_membership_price}}</span>

                                                </div>
                                            </div>
                                            <!-- End item-info -->
                                            <!-- End item-wrap-inner -->
                                        </div>
                                    {% endfor %}
                                    <!-- End item-wrap -->
                           
                                </div>
                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>
                </div>
               
            </aside>
            <!--Left Part End -->

			<!--Middle Part Start-->
			<div id="content" class="col-md-9 col-sm-8">
				
				<div class="product-view row">
					<div class="left-content-product">
				
						<div class="content-product-left class-honizol col-md-5 col-sm-12 col-xs-12">
							<div class="large-image  ">
								<img itemprop="image" class="product-image-zoom" src="{% if product.image1 %} {{product.image1.url}} {% elif product.image2 %} {{product.image2.url}} {% else %} {{product.image3.url}} {% endif %}"  title="Chicken swinesha" alt="Chicken swinesha">
							</div>
							<a class="thumb-video pull-left" href=""><i class="fa fa-youtube-play"></i></a>
							
							<div id="thumb-slider" class="yt-content-slider full_slider owl-drag" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="10" data-items_column00="4" data-items_column0="4" data-items_column1="3" data-items_column2="4"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
								<a data-index="0" class="img thumbnail " data-image="{% if product.image3 %} {{product.image3.url}} {% elif product.image2 %} {{product.image2.url}} {% else %} {{product.image1.url}} {% endif %}" title="Chicken swinesha">
									<img src="{% if product.image3 %} {{product.image3.url}} {% elif product.image2 %} {{product.image2.url}} {% else %} {{product.image1.url}} {% endif %}" title="Chicken swinesha" alt="Chicken swinesha">
								</a>
								<a data-index="1" class="img thumbnail " data-image="{% if product.image2 %} {{product.image2.url}} {% elif product.image1 %} {{product.image1.url}} {% else %} {{product.image3.url}} {% endif %}" title="Chicken swinesha">
									<img src="{% if product.image2 %} {{product.image2.url}} {% elif product.image1 %} {{product.image1.url}} {% else %} {{product.image3.url}} {% endif %}" title="Chicken swinesha" alt="Chicken swinesha">
								</a>
                                <a data-index="1" class="img thumbnail " data-image="{% if product.image2 %} {{product.image2.url}} {% elif product.image1 %} {{product.image1.url}} {% else %} {{product.image3.url}} {% endif %}" title="Chicken swinesha">
									<img src="{% if product.image2 %} {{product.image2.url}} {% elif product.image1 %} {{product.image1.url}} {% else %} {{product.image3.url}} {% endif %}" title="Chicken swinesha" alt="Chicken swinesha">
								</a>
                                <a data-index="1" class="img thumbnail " data-image="{% if product.image2 %} {{product.image2.url}} {% elif product.image1 %} {{product.image1.url}} {% else %} {{product.image3.url}} {% endif %}" title="Chicken swinesha">
									<img src="{% if product.image2 %} {{product.image2.url}} {% elif product.image1 %} {{product.image1.url}} {% else %} {{product.image3.url}} {% endif %}" title="Chicken swinesha" alt="Chicken swinesha">
								</a>
								
							</div>
							
						</div>

						<div class="content-product-right col-md-7 col-sm-12 col-xs-12">
							<div class="title-product">
								<h1>{{product.name}}</h1>
							</div>
							<!-- Review ---->
							<div class="box-review form-group">
								<div class="ratings">
									<div class="rating-box">
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
										<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
									</div>
								</div>

								<a class="reviews_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 reviews</a>	| 
								<a class="write_review_button" href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
							</div>

							<div class="product-label form-group">
								<div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
									<span class="price-new" itemprop="price">Free membership Rs. {{product.free_membership_price}}</span>
									<span class="price-old"></span>
								</div>
                                <div class="product_page_price price" itemprop="offerDetails" itemscope="" itemtype="http://data-vocabulary.org/Offer">
									<span>Platinum Members Price: Rs.{{product.platinum_membership_price}}</span>
								</div>
								<div class="stock"><span>Availability:</span> <span class="status-stock">In Stock</span></div>
							</div>

							<div class="product-box-desc">
								<div class="inner-box-desc">
									<div class="reward"><span>Price in reward points:</span>0.00</div>
									<!-- <div class="brand"><span>Brand:</span><a href="#">{{product.brand}}</a>		</div>									 -->
									<div class="reward"><span> Free membership price:</span> Rs. {{product.free_membership_price}}</div>
                                    <div class="reward"><span> Platinum membership price:</span> Rs. {{product.platinum_membership_price}}</div>
								</div>
							</div>


							<div id="product">											
								<div class="form-group box-info-product">
									<div class="option quantity">
										<div class="input-group quantity-control" unselectable="on" style="-webkit-user-select: none;">
											<label>Qty</label>
											<input class="form-control" type="text" name="quantity"
											value="1">
											<input type="hidden" name="product_id" value="50">
											<span class="input-group-addon product_quantity_down">−</span>
											<span class="input-group-addon product_quantity_up">+</span>
										</div>
									</div>
									<div class="cart">
										<input type="button" data-toggle="tooltip" title="" value="Add to Cart" data-loading-text="Loading..." id="button-cart" class="btn btn-mega btn-lg" onclick="cart.add('{{product.id}}','{{product.name}}','{{product.image1.url}}','1');" data-original-title="Add to Cart">
									</div>
									
									<div class="add-to-links wish_comp">
										<ul class="blank list-inline">
											<li class="wishlist">
												<a class="icon" data-toggle="tooltip" title=""
												onclick="wishlist.add('50');" data-original-title="Add to Wish List"><i class="fa fa-heart"></i>
												</a>
											</li>
											<li class="compare">
												<a class="icon" data-toggle="tooltip" title=""
												onclick="compare.add('50');" data-original-title="Compare this Product"><i class="fa fa-exchange"></i>
												</a>
											</li>
										</ul>
									</div>

								</div>

							</div>
							<!-- end box info product -->

						</div>
				
					</div>
				</div>
				<!-- Product Tabs -->
				<div class="producttab ">
					<div class="tabsslider  vertical-tabs col-xs-12">
						<ul class="nav nav-tabs col-lg-2 col-sm-3">
							<li class="active"><a data-toggle="tab" href="#tab-1">Description</a></li>
							<!-- <li class="item_nonactive"><a data-toggle="tab" href="#tab-review">Reviews (1)</a></li>
							<li class="item_nonactive"><a data-toggle="tab" href="#tab-4">Tags</a></li> -->
							
						</ul>
						<div class="tab-content col-lg-10 col-sm-9 col-xs-12">
							<div id="tab-1" class="tab-pane fade active in">
								{{product.discription}}								
							</div>
							<div id="tab-review" class="tab-pane fade">
								<form>
									<div id="review">
										<table class="table table-striped table-bordered">
											<tbody>
												<tr>
													<td style="width: 50%;"><strong>Super Administrator</strong></td>
													<td class="text-right">29/07/2015</td>
												</tr>
												<tr>
													<td colspan="2">
														<p>Best this product opencart</p>
														<div class="ratings">
															<div class="rating-box">
																<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
																<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
																<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
																<span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i class="fa fa-star-o fa-stack-1x"></i></span>
																<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
															</div>
														</div>
													</td>
												</tr>
											</tbody>
										</table>
										<div class="text-right"></div>
									</div>
									<h2 id="review-title">Write a review</h2>
									<div class="contacts-form">
										<div class="form-group"> <span class="icon icon-user"></span>
											<input type="text" name="name" class="form-control" value="Your Name" onblur="if (this.value == '') {this.value = 'Your Name';}" onfocus="if(this.value == 'Your Name') {this.value = '';}"> 
										</div>
										<div class="form-group"> <span class="icon icon-bubbles-2"></span>
											<textarea class="form-control" name="text" onblur="if (this.value == '') {this.value = 'Your Review';}" onfocus="if(this.value == 'Your Review') {this.value = '';}">Your Review</textarea>
										</div> 
										<span style="font-size: 11px;"><span class="text-danger">Note:</span>						HTML is not translated!</span>
										
										<div class="form-group">
										 <b>Rating</b> <span>Bad</span>&nbsp;
										<input type="radio" name="rating" value="1"> &nbsp;
										<input type="radio" name="rating"
										value="2"> &nbsp;
										<input type="radio" name="rating"
										value="3"> &nbsp;
										<input type="radio" name="rating"
										value="4"> &nbsp;
										<input type="radio" name="rating"
										value="5"> &nbsp;<span>Good</span>
										
										</div>
										<div class="buttons clearfix"><a id="button-review" class="btn buttonGray">Continue</a></div>
									</div>
								</form>
							</div>
							<div id="tab-4" class="tab-pane fade">
								<a href="#">Monitor</a>,
								<a href="#">Apple</a>				
							</div>
							
						</div>
					</div>
				</div>
				<!-- //Product Tabs -->

				<!-- Related Products -->
    			<div class="related titleLine products-list grid module ">
    				<h3 class="modtitle">Related Products  </h3>
    		
    				<div class="releate-products yt-content-slider products-list" data-rtl="no" data-loop="yes" data-autoplay="no" data-autoheight="no" data-autowidth="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="5" data-items_column0="5" data-items_column1="3" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-hoverpause="yes">
                     {% for product in related_products %}
                        <div class="item">         
                            <div class="item-inner product-layout transition product-grid">
                                <div class="product-item-container">
                                    <div class="left-block left-b">
                                        
                                        <div class="product-image-container second_img">
                                            <a href="{% url 'SingleProductViews' product_name=product.name %}" target="_self"
                                                title="Pastrami bacon">
                                                <img src="{{product.image1.url}}"
                                                    class="img-1 img-responsive" alt="image1">
                                                <img src="{{product.image2.url}}"
                                                    class="img-2 img-responsive" alt="image2">
                                            </a>
                                         </div>
                                          <!--quickview-->
                                          <div class="so-quickview">
                                            <a class="iframe-link btn-button quickview quickview_handler visible-lg"
                                                href="{% url 'SingleProductQuickViews' product_name=product.name %}" title="Quick view"
                                                data-fancybox-type="iframe"><i
                                                    class="fa fa-eye"></i><span>Quick view</span></a>
                                           </div>
                                        

                                        
                                    </div>
                                    <div class="right-block">
                                        <div class="button-group so-quickview cartinfo--left">
                                            <button type="button" class="addToCart" title="Add to cart" onclick="cart.add('sddsd');">
                                                <span>Add to cart</span>   
                                            </button>
                                            <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('43');"><i class="fa fa-heart-o"></i><span>Add to Wish List</span>
                                            </button>
                                            <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('23');"><i class="fa fa-retweet"></i><span>Compare this Product</span>
                                            </button>
                                            
                                        </div>
                                        <div class="caption hide-cont">
                                            <div class="ratings">
                                                <div class="rating-box">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                </div>
                                                <span class="rating-num">( 2 )</span>
                                            </div>
                                            <h4><a href="product.html" title="Pastrami bacon" target="_self">Lastrami bacon</a></h4>
                                            
                                        </div>
                                        <p class="price">
                                          <span class="price-new">$80.00</span>
                                          
                                        </p>
                                        <p class="price">
                                            <span>Members Price: $76.00</span>
                                            
                                          </p>
                                    </div>

                                </div>
                            </div>      
                        </div>
                     {% endfor %}
    				</div>
    			</div>

    			<!-- end Related  Products-->
			</div>
				
				
				
			
			
				
			</div>
			
			
		</div>
		<!--Middle Part End-->
	</div>
	<!-- //Main Container -->
{% endblock %}

{% block header %}
    {% include 'partials/header.html' %}
{% endblock %}

{% block footer %}
    {% include 'partials/footer.html' %}
{% endblock %}


{% block jscontents %}
{% load staticfiles %}
   <!-- Include Libs & Plugins
    ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'assets_web/js/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/slick-slider/slick.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/themejs/libs.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/unveil/jquery.unveil.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/countdown/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/datetimepicker/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/modernizr/modernizr-2.6.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/minicolors/jquery.miniColors.min.js' %}"></script>

    <!-- Theme files
    ============================================ -->

    <script type="text/javascript" src="{% static 'assets_web/js/themejs/application.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets_web/js/themejs/homepage.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets_web/js/themejs/toppanel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/themejs/so_megamenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/themejs/addtocart.js' %}"></script>

    <script>
      //---------------------Stars Start----------------------------------
      // Select all elements with the "i" tag and store them in a NodeList called "stars"
      const stars = document.querySelectorAll(".stars i");
    
      // Loop through the "stars" NodeList
      stars.forEach((star, index1) => {
        // Add an event listener that runs a function when the "click" event is triggered
        star.addEventListener("click", () => {
          var count_stars = 0;
          // Loop through the "stars" NodeList Again
          stars.forEach((star, index2) => {
            // Add the "active" class to the clicked star and any stars with a lower index
            // and remove the "active" class from any stars with a higher index
            index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
            if(index1 >= index2)
              count_stars++
            });
            //alert(count_stars);
            document.getElementById("n_stars").value = count_stars-20;
        });
      });

      //---------------------Stars Start End----------------------------------
    </script>
{% endblock %}
