{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{% if global_data.site_name != '' %} {{global_data.site_name}}{% else %} Happy Day{% endif %}</title>
    <meta name="title" content="{% if global_data.page_titile != '' %} {{global_data.page_titile}}{% else %} Happy Day{% endif %}">
    <meta name="description" content="{% if global_data.page_description != '' %} {{global_data.page_description}}{% else %} Digital World, Ecommerce Site.{% endif %}">
    <meta name="keywords" content="{% if global_data.page_keyword != '' %} {{global_data.page_keyword}}{% endif %}">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="{% if global_data.site_name != '' %} {{global_data.site_name}}{% else %} Happy Day{% endif %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="{% if global_data.page_titile != '' %} {{global_data.page_titile}}{% else %} Happy Day{% endif %}">
    <meta property="og:description" content="{% if global_data.page_description != '' %} {{global_data.page_description}}{% else %} Digital World, Ecommerce Site.{% endif %}">
    <meta property="og:image" content="{% if global_data.image2 != '' %} {{global_data.image2.url}}{% else %} {% static 'assets_web/images/logo/logo.png' %}' %}{% endif %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ request.build_absolute_uri }}">
    <meta property="twitter:title" content="{% if global_data.page_titile != '' %} {{global_data.page_titile}}{% else %} Happy Day{% endif %}">
    <meta property="twitter:description" content="{% if global_data.page_description != '' %} {{global_data.page_description}}{% else %} Digital World, Ecommerce Site.{% endif %}">
   {% comment %} <meta property="twitter:image" content="{{ $seo->banner_image ?? '/uploads/icons/' . $global_setting->site_logo }}">  {% endcomment %}
    <meta property="twitter:image" content="{% if global_data.image2 != '' %} {{global_data.image2.url}}{% else %} {% static 'assets_web/images/logo/logo.png' %}' %}{% endif %}">



    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% if global_data.image2 != '' %} {{global_data.image2.url}}{% else %} {% static 'assets_web/images/logo/logo.png' %}' %}{% endif %}" type="image/png">


      <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="{% static 'assets_web/css/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets_web/css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/js/datetimepicker/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/js/owl-carousel/owl.carousel.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/css/themecss/lib.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/js/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/js/minicolors/miniColors.css' %}" rel="stylesheet">

      <!-- Theme CSS
    ============================================ -->
    <link href="{% static 'assets_web/css/themecss/so_searchpro.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/css/themecss/so_megamenu.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/css/themecss/so-categories.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/css/themecss/so-listing-tabs.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/css/themecss/so-category-slider.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/css/themecss/so-newletter-popup.css' %}" rel="stylesheet">

    <link href="{% static 'assets_web/css/footer/footer1.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/css/header/header1.css' %}" rel="stylesheet">
    <link id="color_scheme" href="{% static 'assets_web/css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'assets_web/css/responsive.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets_web/css/home2.css' %}">

    <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
    {% block topjscontents %}  
    <!-- here all contents displayed -->
    {% endblock %}
  </head>

  {% if category_collapse %}
    <body class="res layout-subpage layout-1 banners-effect-5">
  {% else %}
  <body class="common-home res layout-1">
  {% endif %}
    

    <div id="wrapper" class="wrapper-fluid banners-effect-3">

        <!-- Header Container  -->
        {% block header %}
        {% endblock %}
        <!-- //Header Container  -->


        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

        {% block contents %}  
            <!-- here all contents displayed -->
        {% endblock %}
          
        {% block quickview %}  
        <!-- here all contents displayed -->
        {% endblock %}

      <!-- Footer Container -->
       {% block footer %}
       {% endblock %}
      <!-- //end Footer Container -->

    </div>

    <!-- Include Libs & Plugins
    ============================================ -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static 'assets_web/js/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/owl-carousel/owl.carousel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/slick-slider/slick.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/themejs/libs.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/unveil/jquery.unveil.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/countdown/jquery.countdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/datetimepicker/moment.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/datetimepicker/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/modernizr/modernizr-2.6.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/minicolors/jquery.miniColors.min.js' %}"></script>

    <!-- Theme files
    ============================================ -->

    <script type="text/javascript" src="{% static 'assets_web/js/themejs/application.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets_web/js/themejs/homepage.js' %}"></script>

    <script type="text/javascript" src="{% static 'assets_web/js/themejs/toppanel.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/themejs/so_megamenu.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets_web/js/themejs/addtocart.js' %}"></script>

    <script>
      //---------------------Stars Start----------------------------------
      // Select all elements with the "i" tag and store them in a NodeList called "stars"
      const stars = document.querySelectorAll(".stars i");
    
      // Loop through the "stars" NodeList
      stars.forEach((star, index1) => {
        // Add an event listener that runs a function when the "click" event is triggered
        star.addEventListener("click", () => {
          var count_stars = 0;
          // Loop through the "stars" NodeList Again
          stars.forEach((star, index2) => {
            // Add the "active" class to the clicked star and any stars with a lower index
            // and remove the "active" class from any stars with a higher index
            index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
            if(index1 >= index2)
              count_stars++
            });
            //alert(count_stars);
            document.getElementById("n_stars").value = count_stars-20;
        });
      });

      //---------------------Stars Start End----------------------------------
    </script>

    {% block jscontents %}  
    <!-- here all contents displayed -->
    {% endblock %}

  </body>

</html>