{% load staticfiles %}
{% load mathfilters %}  
<div class="row">
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">ORDER RECEIVED</h4>
                <div class="text-end"> <span class="text-muted">Today Order</span>
                    <h1 class="font-light"><sup><i class="ti-arrow-up text-success"></i></sup>{{today_order}}</h1>
                </div>
                {% comment %} <span class="text-success">20%</span>
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 20%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Total Clients</h4>
                <div class="text-end"> <span class="text-muted">Total Clients</span>
                    <h1 class="font-light"><sup><i class="ti-arrow-up text-primary"></i></sup>{{total_users}}</h1>
                </div>
                {% comment %} <span class="text-primary">30%</span>
                <div class="progress">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 30%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">REVENUE STATS</h4>
                <div class="text-end"> <span class="text-muted">Todays Income</span>
                    <h1 class="font-light"><sup><i class="ti-arrow-down text-info"></i></sup>{{today_income}}</h1>
                </div>
                {% comment %} <span class="text-info">60%</span>
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 60%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">TOTAL SALES</h4>
                <div class="text-end"> <span class="text-muted">Total Income</span><!---yearly income-->
                    <h1 class="font-light"><sup><i class="ti-arrow-up text-inverse"></i></sup>{{total_income}}</h1>
                </div>
                {% comment %} <span class="text-inverse">80%</span>
                <div class="progress">
                    <div class="progress-bar bg-inverse" role="progressbar" style="width: 80%; height: 6px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
    <!-- Column -->
</div>
<!-- ============================================================== -->
<!-- charts -->
<!-- ============================================================== -->
<div class="row">
    <!-- Column -->
    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex m-b-40 align-items-center no-block">
                    <h5 class="card-title ">PRODUCT SALES</h5>
                    <div class="ms-auto">
                        <ul class="list-inline font-12">
                            <li><i class="fa fa-circle text-cyan"></i> Iphone</li>
                            <li><i class="fa fa-circle text-primary"></i> IMac</li>
                        </ul>
                    </div>
                </div>
                <div id="morris-area-chart2" style="height: 400px;"></div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <div class="col-lg-4 col-md-12">
        <div class="row">
            <!-- Column -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ORDER STATS</h5>
                        <div id="morris-donut-chart" class="ecomm-donute"></div>
                        <ul class="list-inline m-t-30 text-center mb-1 d-flex">
                            <li class="list-inline-item p-r-20">
                                <h5 class="text-muted"><i class="fa fa-circle" style="color: #fb9678;"></i> Order</h5>
                                <h4 class="m-b-0">{{all_data.count}}</h4>
                            </li>
                            <li class="list-inline-item p-r-20">
                                <h5 class="text-muted"><i class="fa fa-circle" style="color: #01c0c8;"></i> Pending</h5>
                                <h4 class="m-b-0">{{pending.count}}</h4>
                            </li>
                            <li class="list-inline-item">
                                <h5 class="text-muted"> <i class="fa fa-circle" style="color: #4F5467;"></i> Delivered</h5>
                                <h4 class="m-b-0">{{delivered.count}}</h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- charts -->
<!-- ============================================================== -->
{%  include "admin/order/partials/order-list.html" %}